<h1>DEALS</h1>
   <% @deals.each do |deal| %>
    <h1><%= deal.id %>: <%= link_to deal.name, deal_path(deal) %></h2>
    <div id="deal-<%= deal.id %>"><%= truncate(deal.message) %></div>
    <button class="js-more" data-id="<%= deal.id %>">More Info</button>
  <% end %> 

<script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/deals/" + id + ".json", function(data) {
      var deal = data;
      var messageText = "<p>" + deal["message"] + "</p>"; 
      $("#deal-" + id).html(messageText);
    });
  });
});
</script>