
<h1 class="itemName"><strong> <%= @item.name %></strong></h1>
<p class="itemDescription"><strong>Description:</strong> <%= @item.description %></p>
<p class="itemPrice"><strong>Price:</strong> <%= number_to_currency(@item.price) %></p>
<p class="itemCategory"><strong>Category:</strong> <%= @item.category %></p>





<%= link_to "Load Deals", item_deals_path(@item), class: "load_deals" %>

<div id="deals_div">
  <ol>
  </ol>
</div>

<%= render 'deal' %>


<script type="text/javascript" charset="utf-8">

$(function(){

  $("a.load_deals").on("click", function(e){
    $.get(this.href).success(function(json){
      let $deals = $("#deals_div ol")
      $deals.text('')
      json.forEach(function(deal){
        $deals.append('<li>' + deal.name + '-' + deal.user.name + " $" + deal.price + '</li>')
      })
    })
    e.preventDefault();
  })

  function showItem(json){
    $(".itemName").text(json.name)
    $(".itemDescription").text(json.description)
    $(".itemPrice").text(json.price)
    $(".itemCategory").text(json.category)
    $("a.load_deals").attr("href", "/items/" + json.id + "/deals")
    $("#deals_div ol").empty()
  
  }

  function Deal(attributes){
  this.id = attributes.id
  this.name = attributes.name
  this.user = attributes.user
  this.price = attribute.price  
}

Deal.prototype.renderLI = function(){
  let html = '<li>' + this.user.name + 'has a deal for:' + this.price + '</li>'
  $("#deals_div ol").append(html)
} 


</script>